    body{
        background-color: rgb(157, 11, 11);
    }



    header {
        position: fixed;
        height: 96px;
         background-color: #191728;
        width: 100%; 
         -webkit-box-shadow: 1px 9px 9px -3px rgba(0,0,0,0.75);
     -moz-box-shadow: 1px 9px 9px -3px rgba(0,0,0,0.75);
     box-shadow: 1px 9px 9px -3px rgba(0,0,0,0.75);
     width: 100%;
    }


    .nav {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        height: 100px;
        max-width: 992px;
    } 
    
    .nav-menu {
        display: flex;
        margin-right: 80px;
        list-style: none;
        float: right;
    }
    
    .nav-menu-item{
        font-size: 20px;
        margin: 0 20px;
       text-transform: uppercase;
        line-height: 100px;   /*margin top*/

        width: max-content;
    }
    
    .nav-link{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .nav-toggle {
        color: azure;
        background-color: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        display:none;
    }



    @media only screen and (max-width: 790px){






header {
    
    position: fixed;
   
     height: 96px;
     background-color: #191728;
     
     -webkit-box-shadow: 1px 9px 9px -3px rgba(0,0,0,0.75);
 -moz-box-shadow: 1px 9px 9px -3px rgba(0,0,0,0.75);
 box-shadow: 1px 9px 9px -3px rgba(0,0,0,0.75);
 width: 100%;
}

body {
    background-color: aqua;

}

}



@media only screen and (max-width: 600px){
    body{
        background-color: black;
    }
}


